# Quarto build/output
_book/
_site/
.quarto/

# temp / caches
.quarto/*

# Notebooks / temp files
*.quarto_ipynb_*
test_files/
test*.html

# System files
.DS_Store
Thumbs.db

/.quarto/
**/*.quarto_ipynb
